// colours
$darkBlue: hsl(226, 48%, 25%);
$blue: hsl(227, 42%, 35%);
$orange: hsl(16, 61%, 69%);
$lightOrange: hsl(12, 4%, 98%);
$gray: hsl(22, 8%, 41%);

$red: hsl(2, 93%, 71%);
$lightGray: hsl(212, 8%, 77%);
